<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Server check</title>
</head>
<body>
  <form action="/actionCom" method="GET">
    <h1>Hola soy santiago este es mi server</h1>
    <input type="submit" value="server 1"/>
  </form>
  <form action="/actionCom" method="GET">
    <input type="submit" value="server 2"/>
  </form>
</body>
</html>